<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="com.trishana.maven.samples" >
  
   <!-- <groups>
    <run>
      <include name="login"/>
       <exclude name="logout"/>
    </run>
  </groups> -->
      

    <classes>
       <class name="com.trishana.maven.samples.TestngExample" />
        </classes>
         
 
   
  </test>
 
 
</suite>